

<div style="background-color: red">SFSU Database Project CSC 675, Spring 2019.  For Demonstration Only</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <img src="/images/marvel.png" width="50px" height="50px">
    <a class="navbar-brand  text-black" href="/">MCU Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
        <form class="form-inline" action="/listings">
            <select class="input-select" name="type" id="name">
                <option value="{{type}}">{{type.charAt(0).toUpperCase() + type.slice(1) + 's' if type else 'Category..'}}</option>
                <option value="">All</option>
                <option value="weapon">weapon</option>
                <option value="shield">shield</option>
                <option value="stone">stone</option>
            </select>
            <input class="search-style" type="search + password" style="width: 500px" name="query" placeholder="Search for product..."
                    aria-label="Search" class="form-control validate"  >
            <button class="btn btn-outline-success my-3 my-sm-0" style="border-radius: 10px" 
                type="submit" >Search
            </button>
        </form>
    </div>
</nav>




<!-- /LOGIN -->
